/* .profile-container {
    padding: 0 0;
    max-width: 100%;
}
.profile-container .row {
    min-height: calc(100vh - 96px);
    display: flex;
}
.profile-container .row .content-container {
    -webkit-box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35);
    background-color: #f7f8fb ;
} */
.row {
    width: 100%;
}
.col-xl-8 {
    padding-left: 9%;
}
.col-xl-8 .profile-content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 6% 8% 6% 6%;
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
}
.col-xl-8 .profile-content-container label {
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.col-xl-8 .profile-content-container form .top-profile-content {
    display: flex;
    margin-top: 4rem;
   
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(1) {
    text-align: center;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(1) label {
    color: #8951d7;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.14px;
}

.col-xl-8 .profile-content-container form .top-profile-content input {
    margin-top: 10px;        
    width: 100%;
    height: 44px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(2) label:nth-child(1), input:nth-child(1) {
    height: 28px;
    color: #252525;
    font-size: 24px;
    font-weight: 800;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(2) label:nth-child(2), input:nth-child(2) {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 0px;
    width: 20%;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(3) img {
    cursor: pointer;
    margin-left: 10px;
}
.col-xl-8 .profile-content-container form .top-profile-content div:nth-child(3) img.profile-status {
    align-self: center;
}
.col-xl-8 .profile-content-container form .bottom-profile-content {
    margin-top: 2rem;
}
.col-xl-8 .profile-content-container form .bottom-profile-content div {
    margin-top: 2rem;
    display: flex;
    align-items: start;
}
.col-xl-8 .profile-content-container form .bottom-profile-content label, input, textarea {
    margin-left: 1rem;
    padding-left: 0;
    text-align: start;
}
.col-xl-8 .profile-content-container form .bottom-profile-content input, textarea {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
   
}
.col-xl-8 .profile-content-container form .bottom-profile-content input::placeholder, textarea::placeholder {
    color: #d8d8d8;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}
.col-xl-8 .profile-content-container form .bottom-profile-content textarea {
    height: 161px;
}
.col-xl-8 .profile-content-container  div:nth-child(3) {
    text-align: center;
    margin-top: 4rem;
}
/* ///////Member Content///////////// */
.col-xl-4 {
    padding-right: 10rem;
}
.col-xl-4 .member-content-container {
    margin-top: 2rem;
    background-color: #ffffff;
    text-align: center;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
}
.col-xl-4 .member-content-container  input {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
}

.col-xl-4 .member-content-container form div:nth-child(1) {
    padding-top: 4rem;
    position: relative;
}
.col-xl-4 .member-content-container form div:nth-child(1) img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.col-xl-4 .member-content-container form div:nth-child(2) {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.col-xl-4 .member-content-container form div:nth-child(2) input::placeholder {
    text-align: center;
}
.col-xl-4 .member-content-container form div:nth-child(2) label:nth-child(1), input:nth-child(1) {
    height: 28px;
    color: #252525;
    font-size: 24px;
    font-weight: 800;
}
.col-xl-4 .member-content-container form div:nth-child(2) label:nth-child(2), input:nth-child(2) {
    margin-top: 1rem;
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    
}

.col-xl-4 .member-content-container form .image-input-container {
    margin-top: 2rem;
    text-align: start;
    display: flex;
    align-items: center;

}
.col-xl-4 .member-content-container form .image-input-container label {
    margin-bottom: 0;
    padding-left: 10px;
}
.col-xl-4 .member-content-container form .image-input-container input::placeholder {

    margin-bottom: 0;
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.col-xl-4 .member-content-container form div:nth-child(5) {
    position: relative;
    margin-top: 3rem;
    padding-bottom: 4rem;
    text-align: start;
    
}
.col-xl-4 .member-content-container form div:nth-child(5) img {
    position: absolute;
    right: 10px;
}
.col-xl-4 .member-content-container form div:nth-child(6) {
    text-align: center;
    margin-top: 4rem;
}
@media screen and (max-width: 1400px) {
    .col-xl-4 {
        padding-right: 2rem;
        padding-left: 3%;
    }
    .col-xl-8 {
        padding-left: 3%;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 1200px) {
    .profile-container .row .content-container .row .col-xl-8 {
        padding-left: 9% !important;
    }
    .profile-container .row .content-container .row .col-xl-4 {
        padding-left: 9% !important;
    }
}

@media screen and (max-width: 768px ) {
    .col-xl-8 .profile-content-container form .top-profile-content div:nth-child(2) label:nth-child(1), input:nth-child(1) {
        font-size: 20px;
    }
    .col-xl-8 .profile-content-container form .top-profile-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .col-xl-8 .profile-content-container form .top-profile-content div:nth-child(3) {
        width: 30%;
    }
    .col-xl-8 .profile-content-container form .top-profile-content div:nth-child(3) img  {
        margin-left: 0;
    }
}