.dashboard-container {
    display: flex;
    padding: 0;
    max-width: 100%;
    background-color: #f7f8fb;
    
}

.dashboard-container .sidebar-content {
    margin: 0 0 0 0;
    width: 234px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);
    box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);

    
}
.dashboard-container .content-container {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 96px);
    margin: 0;
    /* -webkit-box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 2px 21px 0px rgba(0,0,0,0.35); */
    -webkit-box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);
    box-shadow: inset 0px 3px 17px -2px rgba(0,0,0,0.35);
}
@media screen and (min-width: 883px) {
    width: 234px !important;
}
@media screen and (max-width: 883px) {
    .dashboard-container {
        flex-direction: column;
    }
    .dashboard-container .sidebar-content  {
        width: 100%;
        max-width: 100%;
    }
}