.auth-container {
    max-width: 100%;
    padding: 0;
}
.auth-container .row .col-lg-6.right-auth-image {
    height: 100vh;
    /* background-size: 105vh auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}
.auth-container .row .col-lg-6.left-logo-image {
    height: 100vh;
    text-align: center;
    padding-top: 10%;
}
.auth-container .row .col-lg-6.left-logo-image img {
    
}
@media screen and (max-width:1200px) {
    .auth-container .row .col-lg-6.left-logo-image {
        padding-top: 20%;
    }
}
@media screen and (max-width: 375px) {
    .auth-container .row .col-lg-6.left-logo-image {
        padding-top: 10%;
    }

}