.candidate-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* height: 30%; */
    padding: 0 0 1% 0;
    border-radius: 16px;
    box-shadow: 0 1px 5px #dddddd;
}
.candidate-card-container .left-card {
    width: 60%;
    height: 100%;
    padding-left: 4%;
}
.candidate-card-container .left-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1%;
    height: 45%;
}
.candidate-card-container .left-card .image-content {
    
}
.candidate-card-container .left-card .label-content {
    display: flex;
    flex-direction: column;
    padding: 7% 2%;
    width: 70%;
    justify-content: space-around;
}
.candidate-card-container .left-card .label-content label:nth-child(1) {
    margin: 0;
    color: #252525;
    font-size: 20px;
    font-weight: 700;
}
.candidate-card-container .left-card .label-content label:nth-child(2) {
    margin: 0;
    color: #252525;
    font-size: 16px;
    font-weight: 500;
}
.candidate-card-container .left-card .left-location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3% 0;
}
.candidate-card-container .left-card .left-location-container label {
    padding: 0;
    margin-left: 3%;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.candidate-card-container .right-card {
    width: 40%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3% 2% 3% 0;
}
.candidate-card-container .right-card img {
    cursor: pointer;
}
.candidate-card-container .right-card .scheduled {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
}
.candidate-card-container .right-card .scheduled label:nth-child(1) {
    color: #8951d7;
    font-size: 18px;
    font-weight: 700;
}
.candidate-card-container .right-card .scheduled label:nth-child(2) {
    color: #8d8d8d;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 375px) {
    .candidate-card-container {
        flex-direction: column;
    }
    .candidate-card-container .left-card {
        width: 90%;
    }
    .candidate-card-container .right-card {
        width: 90%;
    }
}

