.dashboard-content {
    width: 100%;
    padding: 3% 7%;
}
.dashboard-content .job-position-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 80%;
    padding-top: 4%;
}

@media screen and (max-width: 768px) {
    .dashboard-content .job-position-container {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .dashboard-content {
        padding: 3% 2%;
    }
}