.dashboard-content {
    height: calc(100vh - 96px);
    overflow: scroll;
    width: 100%;
    padding: 3% 7%;
}
.dashboard-content .job-position-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    padding-top: 1%;
}

@media screen and (max-width: 1400px) {
    .dashboard-content .job-position-container {
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .dashboard-content .job-position-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 375px) {
    .dashboard-content {
        padding: 3% 2%;
    }
}