.date-container {
    display: flex;
    flex-direction: column;
}
.date-container .days-container {
    width: 80%;
    margin: 0 auto;
}
.date-container .days-container .slick-slider .slick-list {
    padding: 2% 0;
}
.date-container .days-container .slick-slider .slick-list .slick-track {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date-container .days-container .slick-slider .slick-arrow {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    justify-content: center;
    height: 80%;
    width: 12%;
    box-shadow: 0 1px 5px #dddddd;
    border-radius: 16px;
    background-color: #ffffff;
}
.date-container .days-container .slick-slider .slick-arrow:before {
    content: none;
}
.date-container .days-container .day-content {
    
    display: flex !important;
    width: 75% !important;
    padding: 15% 0%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 5px #dddddd;
    border-radius: 16px;
    background-color: #ffffff;
}
.date-container .days-container .day-content label:nth-child(1) {
    margin: 0;
    padding: 0;
    color: #8951d7;
    font-size: 20px;
    font-weight: 700;
}
.date-container .days-container .day-content label:nth-child(2) {
    margin: 0;
    padding: 0;
    color: #8951d7;
    font-size: 16px;
    font-weight: 400;
}
.date-container .time-container {
    display: flex;
    flex-direction: column;
    margin: 1% 7% 1% 4%;
    border-radius: 16px;
    box-shadow: 0 1px 5px #dddddd;
}
.date-container .time-content {
    margin: 0;
    padding: 2% 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.date-container .time-content input {
    position: static;
    margin: 0;
}
.date-container .time-content label {
    margin: 0 0 0 0;
    padding: 0 5%;
    width: 85%;
}
.date-container .time-content label.empa {
    color: #252525;
    font-size: 20px;
    font-weight: 700;
}
.date-container .time-content img {
    margin: 0;
}
.date-container .time-container img:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .date-container .days-container .day-content label:nth-child(1) {
        font-size: 16px;
    }
    .date-container .days-container .day-content label:nth-child(2) {
        font-size: 12px;
    }
    .date-container .days-container .day-content {
        border-radius: 7px;
    }
}