.login-container {
    max-width: 100%;
    height: auto;
}

.login-container label.label-top-title {
    margin-top: 72px;
    color: #252525;
    font-size: 28px;
    font-weight: 400;
}

.login-container form {
    width: 60%;
    margin: 60px 20% 0 20%;
    text-align: start;
}
.login-container form input.form-control {
    margin-top: 60px;
    padding: 2% 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: #252525;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.14px;
}
.login-container form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-container form .form-check {
    margin-top: 40px;
}
.login-container form .form-check .form-check-label  {
    
    color: #252525;
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    letter-spacing: -0.16px;
}
.login-container form .form-check .form-check-label a {
    font-weight: 700;
    color: #252525;
}
.login-container form input::placeholder {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.16px;
}

.login-container form input:focus {
    box-shadow: none;
}
.login-container form img.one-image-button {
    display: block;
    margin: 150px auto 0 auto;
    width: 60%;
}
.login-container form img:hover {
    cursor: pointer;
}

.login-container label.label-bottom-link {
    color: #888888;
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.21px;
}
.login-container .label-bottom-link a  {
    color: #8951d7;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.21px;
    border-style: none;
    background: transparent;
}