.applied-user-card-content {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    /* height: 30%; */
    padding: 0 0 1% 0;
    border-radius: 16px;
    box-shadow: 0 1px 5px #dddddd;
}
.applied-user-card-content .left-card {
    width: 75%;
    height: 100%;
    padding-left: 4%;
}
.applied-user-card-content .left-card .left-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 1%;
    height: 45%;
}
.applied-user-card-content .left-card .left-top-container .image-content {
    
}
.applied-user-card-content .left-card .left-top-container .label-content {
    display: flex;
    flex-direction: column;
    padding: 7% 2%;
    width: 70%;
    justify-content: space-around;
}
.applied-user-card-content .left-card .left-top-container .label-content label:nth-child(1) {
    margin: 0;
    color: #252525;
    font-size: 20px;
    font-weight: 700;
}
.applied-user-card-content .left-card .left-top-container .label-content label:nth-child(2) {
    margin: 0;
    color: #252525;
    font-size: 16px;
    font-weight: 500;
}
.applied-user-card-content .left-card .left-location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.applied-user-card-content .left-card .left-location-container label {
    padding: 0;
    margin-left: 3%;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.applied-user-card-content .left-card .left-description-container {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    align-items: flex-start;
}
.applied-user-card-content .left-card .left-description-container label {
    padding: 0;
    margin-left: 3%;
    color: #252525;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.applied-user-card-content .right-card {
    width: 25%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3% 0;
}
.applied-user-card-content .right-card img {
    cursor: pointer;
}
.applied-user-card-content .right-card .scheduled {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20%;
}
.applied-user-card-content .right-card .scheduled label:nth-child(1) {
    color: #8951d7;
    font-size: 18px;
    font-weight: 700;
}
.applied-user-card-content .right-card .scheduled label:nth-child(2) {
    color: #8d8d8d;
    font-size: 18px;
    font-weight: 400;
}
@media screen and (min-width: 768ox) {
    .applied-user-card-content .right-card img {
        width: 57%;
    }
}
@media screen and (max-width: 768px) {
    .applied-user-card-content .right-card img {
        width: 70%;
    }
}