/* profile page */
.header.profile {
    -webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.35);
}

/* Login page */
.header.log-in {
    display: none;
}
.footer.log-in {
    display: none;
}

/* SignUp page */
.header.sign-up {
    display: none;
}
.footer.sign-up {
    display: none;
}

/* Reset Password Page  */
.header.resetpassword {
    display: none;
}
.footer.resetpassword {
    display: none;
}

/* Forgot Password Page  */
.header.forgotpassword {
    display: none;
}
.footer.forgotpassword {
    display: none;
}

/* Profile Page */
.footer.profile {
    display: none;
}